.container {
    background-color: darkgreen;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    width: auto;
    height: auto;
    background-color: lightgreen;
    text-align: center;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to vertically center the text */
}

.input h1 {
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    color: darkgreen;
}
textarea {
    resize: vertical; /* Allow vertical resizing */
    overflow: auto; /* Show scrollbars if needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    min-height: 50px; /* Set a minimum height */
}

body{
    background-color: black;
}

.output {
    width: auto;
    height: 1024px;
    color: lightgreen;
    background-color: black;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    overflow-x: scroll; /* Add this line */
    white-space: pre-wrap; /* Add this line */
}

.output:hover {
    overflow-x: scroll; /* Add this line */
    white-space: pre-wrap; 
    border: 1px solid lightgreen
}

.error {
    background-color: black;
    color: lightgreen;
}
.error-page {
    text-align: center;
    background-color: black;
}
textarea {
    width: 100%;
    height: auto;
}
.input {
    width: 80%;
    height: auto;
}

/*Tablet view*/
@media (max-width:768px){
    .input {
        width: 50%;
    }
   
}
/*mobile view*/
@media (max-width: 400px){
    .input {
        width: 30%;
    }
  
    
}




